<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016006301413-hkdnkubot1r35cic77g8ni799gsmm1kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016006301413-hkdnkubot1r35cic77g8ni799gsmm1kt</string>
	<key>API_KEY</key>
	<string>AIzaSyBYtCuiarnLWZm6dWfsF_K1zxorL4tNmCg</string>
	<key>GCM_SENDER_ID</key>
	<string>1016006301413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.southvillesol.Increment</string>
	<key>PROJECT_ID</key>
	<string>increment-92599</string>
	<key>STORAGE_BUCKET</key>
	<string>increment-92599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016006301413:ios:79eec363caab461b60660c</string>
</dict>
</plist>